*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration:none;
    color: #fff;
}
ul{
    list-style:none;
}
li{
    display: inline-block;
}
.headerws{
    width: 100%;
    height: 100vh;
    background-color: #2f335f;
}
.headerws .nav-bar{
    width: 90%;
    height: 80px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.headerws .nav-bar .logo{
    margin-left: 50px;
}
.headerws .nav-bar .logo a {
    font-size: 30px;
    font-weight:700;
    text-transform: uppercase;
}
.headerws .nav-bar .menu ul li{
    margin-right: 30px;
}
.headerws .nav-bar .menu ul li a{
    font-size: 19px;
    Letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
    opacity:0.6;
}
.headerws .nav-bar .menu ul li a.active {
    opacity:1;
}
.headerws .nav-bar .menu ul li a:hover {
    opacity:1;
}
.topnav {
    overflow: hidden;
    padding-top: 20px;
    border-radius: 15px;
}
#srch{
    border-radius: 12px;
    width:100%;
    height:300%;
    padding:0.7rem 0.7rem;
    box-shadow: 1px 1px 4px -2px white;
}
.para{
    margin-left: 128px ;
}
.hero{
    width:100%;
    padding-right: 50px;
    margin-right:30px;
}
.hero .row{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: auto;
}
.hero .row .left-sec{
    width: 30%;
    margin-top: 100px;
    margin-left: 50px;
}
.hero .row .left-sec h2{
    font-size:85px;
    color: #fff;
    text-transform:capitalize;
}
.hero .row .left-sec h2 span {
    color:#d43243;
}
.hero .row .left-sec p{
    margin: 30px 0;
    color: white;
    line-height:25px;
    font-family: Georgia;
    font-size: large;
}
.content{
    margin-right: 100px;
}
.book-now-btn{
    padding: initial;
}
.hero .row .left-sec .book-now-btn{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    padding: 0 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #fff;
    background-color: #d43243;
    box-shadow: 2px 3px 10px #000;
}
.hero .row .left-sec .book-now-btn a{
    color:#fff;
}
.book-now-btn{
    margin-left: 125px;
}
.my-car{
    width: 950px;
    height: 550px;
    margin-left:250px ;
}
.wrapper{
    width: 860px;
    margin: 0 auto;
}
.wrapper ul{
    list-style: none;
}
.wrapper ul li {
    background:  #2f335f;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 16px;
    position: relative;
    font-family: Georgia;
    text-transform: uppercase;
    border-radius: 10px;
}
.wrapper ul li:hover{
    background: #d43243;
}

.wrapper ul ul{
    display: none;
}
.wrapper ul li:hover > ul{
    display: block;
}
.wrapper ul ul ul{
    margin-left: 170px;
    top: 0;
    position: absolute;
}
.about{
    margin-top: 70px;
    margin-left: 600px;
    font-size: xx-large;
}
#tt{
    color:#d43243;
    font-size: xxx-large;

}
#tt1{
    font-size: xx-large;
}
.line{
    width:100%;
    height: 100px;
    border-bottom: 5px solid white;
    text-align: center;

}
.lgs{
    margin-top: 80px;
}
#lg1{
    margin-left: 35px ;
    border:7px solid #d43243 ;
    border-radius: 10px;
}
#lg2{
    margin-left: 35px ;
    border:7px solid #d43243;
    border-radius: 10px;
}
#lg3{
    margin-left: 35px ;
    border:7px solid #d43243;
    border-radius: 10px;
}
#lg4{
    margin-left: 35px ;
    border:7px solid #d43243;
    border-radius: 10px;
}
#lg5{
    margin-left: 35px ;
    border:7px solid #d43243;
    border-radius: 10px;
}
